table {
    margin: auto;
    padding: 50px;
}

td, th {
    border: 1px solid #000000;
}

tr:nth-child(odd) {
    background-color: #a4a4a4;
}

tr:nth-child(even) {
    background-color: #f0f0f0;
}

tr:nth-child(1) {
    background-color: #a4a4a4;
}